button {
    width: 100%;
}

fieldset {
    margin-bottom: 1em;
}

#reversed {
    margin-top: 1em;
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
}
